@model List<Girl>
@{
    ViewData["Title"] = "Girl Page";
}
<h1>Girl Page</h1>

@if (Model is null || Model.Count <= 0)
{
    <p>You don't even have a girl, fuck you!</p>
}
else
{
    foreach (var girl in Model)
    {
        <div class="card lg:card-side bordered">
            <figure>
                <img src="@girl.AvatarUrl">
            </figure>
            <div class="card-body">
                <h2 class="card-title">@girl.Name</h2>
                <p>Rerum reiciendis beatae tenetur excepturi aut pariatur est eos. Sit sit necessitatibus veritatis sed molestiae voluptates incidunt iure sapiente.</p>
                <div class="card-actions">
                    <button class="btn btn-primary"><a asp-controller="Girl" asp-action="Details" asp-route-id="@girl.Id">Details</a></button>
                    <button class="btn btn-ghost">Add Images</button>
                </div>
            </div>
        </div>
    }
}
